body {
  background: rgb(138, 47, 212, 0.8);
  
}
p{
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 10px;
  
}
.margin {
  margin: 5px 10px;
}

.padding {
  padding: 50 px 30px 50px 80px;
}

.center, p {
  max-width: 500px;
  text-align: center;
}